.container {
  width: 100%;
}

.container__title {
  text-align: center;
  margin: 10px 0;
}
.container__content {
  width: 100%;
  padding: 0% 1%;
}

@media (min-width: 760px) {
  .container__content {
    padding: 0% 10%;
  }
}
