.purchase-tickets {
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.purchase-tickets__block {
    background-color:rgba(231, 236, 244, 1);
    margin: 20px;
    height: 100%;
    width: 50%;
    padding: 2% 1%;
}

.purchase-tickets__title {
    margin-bottom: 10px;
}