.purchase-tickets {
  width: 100%;
}

.purchase-tickets__block {
  background-color: var(--gray-100);
  padding: 3% 1%;
}

.purchase-tickets__title {
  margin-bottom: 10px;
}

@media (min-width: 760px) {
  .purchase-tickets__block {
    padding: 3% 30%;
  }
}
