.button {
    width: 100%;
    border-radius: var(--input-border-radius);
    height: var(--input-height);
    font-size: var(--font-size);
}

.button--primary {
    background-color: var(--primary);
    color: rgba(249, 250, 252, 1);
}

.button--primary:hover {
    background-color: rgba(41, 82, 176, 1);
}

.button--primary:disabled {
    background-color: rgba(160, 182, 231, 1);
}

.secondary {
    background-color: var(--secondary);
    border: 1px solid rgba(30, 38, 47, 1);
    color: rgba(30, 38, 47, 1);
}

.button--secondary:hover {
    background-color: rgba(231, 236, 244, 1);
    color: rgba(66, 78, 93, 1);
    border: 1px solid rgba(66, 78, 93, 1);
}

.button--secondary:disabled {
    background-color: rgba(231, 236, 244, 1);
    color: rgba(165, 180, 197, 1);
    border: 1px solid rgba(165, 180, 197, 1);
}

@media (min-width: 768px) {
    .button {
        width: 200px;
    }
}