.input-field {
    width: 100%;
    margin-bottom: 8px;
}

.input-field.input-field--multi-inputs-l,
.input-field.input-field--multi-inputs-r {
    margin-bottom: 0;
}

.input-field.input-field--multi-inputs-l input {
    border: none;
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
}

.input-field.input-field--multi-inputs-r input {
    border: none;
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
}

.input-field label,
.input-field input {
    font-size: var(--font-size);
}

.input-field label {
    display: block;
}

.input-field input {
    height: var(--input-height);
    border: 2px solid var(--input-border-color);
    padding: var(--input-padding);
    width: 100%;
    border-radius: var(--input-border-radius);
    background-color: var(--default-bg-color);
}

.input-field input:focus {
    outline: none;
}