.container__navbar,
.container__content {
  padding: 10px 1%;
}
.container__navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.container__content {
  margin-top: 100px;
  text-align: center;
}

@media (min-width: 760px) {
  .container__navbar,
  .container__content {
    padding: 5px 9%;
  }
}
