/* CSS Variables */
:root {
  --input-height: 40px;
  --input-border-radius: 5px;
  --input-border-color: rgba(200, 211, 224, 1);
  --font-size: 12px;
  --primary: rgba(52, 96, 197, 1);
  --secondary: rgba(249, 250, 252, 1);
}