/* CSS Variables */
:root {
  --input-height: 35px;
  --input-border-radius: 5px;
  --input-border-color: rgba(200, 211, 224, 1);
  --input-padding: 5px;
  --text-color: rgba(30, 38, 47, 1);
  --font-size: 12px;
  --primary: rgba(52, 96, 197, 1);
  --secondary: rgba(249, 250, 252, 1);
  --default-bg-color: rgba(249, 250, 252, 1);
}

/* Global Styling */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}