/* CSS Variables */
:root {
  --input-height: 35px;
  --input-border-radius: 5px;
  --input-padding: 5px;
  --font-size: 12px;
  --primary: rgba(52, 96, 197, 1);
  --primary-dark: rgba(41, 82, 176, 1);
  --secondary: rgba(249, 250, 252, 1);
  --red: rgba(228, 0, 0, 1);
  --green: rgba(10, 183, 48, 1);
  --gray-100: rgba(231, 236, 244, 1);
  --gray-200: rgba(220, 225, 235, 1);
  --gray-300: rgba(200, 211, 224, 1);
  --gray-400: rgba(165, 180, 197, 1);
  --gray-500: rgba(101, 116, 134, 1);
  --gray-600: rgba(66, 78, 93, 1);
  --gray-700: rgba(47, 58, 70, 1);
  --gray-800: rgba(30, 38, 47, 1);
}

/* Global Styling */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-size);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--gray-800);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
